* {
  margin: 0;
}

body {
  max-width: 70rem;
  margin: auto;
}

.card {
  border: .15rem solid black;
  border-radius: 1rem;
  overflow: hidden;
  margin: .5rem;
}

.tree {
  width: fit-content;
}

h1 {
  padding: 1rem 1rem 0;
}

.intro {
  text-align: justify;
  padding: 1rem;
}

.project {
  display: grid;
  grid-template-columns: auto auto;
}

.project img {
  width: 100%;
}

@media screen and (max-width: 50rem) {

  .tree {
    width: fit-content;
    margin: auto;
  }
}

@media screen and (min-width: 50rem) {
  .container__tree-intro {
    display: flex;
    flex-direction: row-reverse;
  }

  .tree__container {
    position: relative;
    width: 50%;
  }

  .tree {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .project {
    grid-template-columns: auto auto auto auto;
  }
}

@media screen and (min-width: 70rem) {
  .container__project-social {
    display: flex;
    flex-direction: row-reverse;
  }

  .social {
    width: 20%;
  }
}